<div style="min-height: calc(100vh - 200px);">
  <div class="block" style="display: flex;justify-content: space-between; align-items: center; flex-wrap: wrap;">
    <div class="line" style="display: flex; align-items: center; align-content: center; margin: auto;">
      <img class="avatar line" [src]="user_data.user_logo_src">
      <h3 class="line name">{{user_data.nick_name}}</h3>
    </div>
    <nav class="nav line"
      style="display: flex; flex-wrap:wrap; align-content:center; align-items:center; margin: auto;">

      <button class="profile-link" (click)="openDialogPhoto()">Фотокарточки</button>
      <button class="profile-link" (click)="openDialogVideo()">Видео</button>
      <button class="profile-link" (click)="openDialogFriends()">Друзья</button>
      <button class="profile-link" (click)="openDialogGroup()">Объединения</button>


      <button class="plus_man" (click)="pushFriend(id_user)" *ngIf="user_status==0"></button>
      <button class="plus_man gray"  *ngIf="user_status==1"></button>

    </nav>
  </div>
  <div class="block">
    <table class="table-3" style="text-align: center">
      <thead>
        <tr>
          <th>О себе</th>
          <th>Контакты</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="О себе" class="one"><textarea placeholder="Информация о пользователе" readonly="true">{{user_data.about_me}}</textarea></td>
          <td data-label="Контакты" class="one">
            <table class="table-3">
              <tbody>
                <tr>
                  <td data-label="Телефон" class="hidden green">Телефон</td>
                  <td data-label="Телефон" class="green"><input placeholder="Телефон:" type="text" class="contact" readonly="true"
                      [value]="user_data.phone"></td>
                </tr>
                <tr>
                  <td data-label="Email" class="hidden green">Почта</td>
                  <td data-label="Почта" class="green"><input placeholder="Почта:" type="text" class="contact" readonly="true"
                      [value]="user_data.mail"></td>
                </tr>
              </tbody>
            </table>
          </td>

        </tr>
      </tbody>
    </table>
  </div>




  <div class="block" *ngFor="let i of user_record_people">
    <div class="zap">
      <mat-nav-list>
        <a mat-list-item><img class="user_logo_mini" [src]="i.user_logo_src"> {{i.nick_name}} <p
            class="zap_inner_time">{{i.date_record}}</p></a>

      </mat-nav-list>
      <p>{{i.text}}</p>
      <img *ngIf="i.img_src!=null" class="photo" [src]="i.img_src">
      <video *ngIf="i.video_src!=null" controls width="100%">
        <source [src]="i.video_src" type="video/mp4">
      </video>
    </div>
  </div>



</div>