
<div class="block">
<div class="col">
    <h3>О нас</h3>
    Exception - прототип социальной сети, выполненный в рамках дипломного проекта 
</div>
<div class="col">
    <h3 style="width:100%; text-align: center;">Контакты</h3>
    <a href="mailto:talyzovivan@gmail.com"><img class="icons" src="./../../assets/svg/email-svgrepo-com.svg"></a>
    <a href="https://github.com/YaPechka1/exception"><img class="icons" src="./../../assets/svg/github-svgrepo-com.svg"></a>
    <a href="https://vk.com/yapechka"><img class="icons" src="./../../assets/svg/vk-svgrepo-com.svg"></a>
</div>
<div class="col">
    <h3>Форма обратной связи</h3>
    Для перехода к форме обратной связи нажмите на кнопку <a routerLink="/help"><button class="button-white" style="margin: 5px;">feedback</button></a>
</div>
</div>
