.avatar {
	height: 75px;
	border-radius: 10px;
	margin-right: 10px;
}

.name {
	height: 30px;
	font-size: 23px;
	margin-left: 15px;
	border-radius: 10px;
	padding: 3px;
	font-weight: 500;
}

.inner_icon {
	margin-left: 10px;
	border-radius: 10px;
	padding-left: 7.5px;
}

.profile-link {
	font-weight: 600;
}

.block {
	margin-top: 15px;
	margin-bottom: 15px;
}

table.table-3 {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table.table-3 tr {}

table.table-3 th {
	font-size: 20px;
	font-weight: 600;
}

table.table-3 th,
table.table-3 td {
	text-align: center;
	font-size: 18px;
	padding: 8px;


}

@media screen and (max-width: 700px) {
	.name {
		width: 100%;
	}

	table.table-3 {
		border: 0;
	}



	table.table-3 thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table.table-3 tr {
		border-bottom: 1px solid #ddd;
		display: block;
		margin-bottom: 30px;
	}

	table.table-3 td {
		display: block;
		text-align: right;
	}

	table.table-3 .one::before {
		margin-bottom: 15px;

	}

	table.table-3 td::before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;

	}

	table.table-3 .green::before {
		color: rgb(0, 88, 0);

	}

	table.table-3 .hidden::before {
		display: none;
	}

	table.table-3 .hidden {
		display: none
	}

	table.table-3 td:last-child {
		border-bottom: 0;
	}
}

textarea {
	width: 100%;
	min-width: 250px;
	resize: none;
	min-height: 100px;
	font-size: 18px;

}
table .icons{
	height: 40px;
	border-radius: 5px;
	width: auto;
}

.green {
	color: rgb(0, 111, 0);
}

td.green {
	font-weight: 500;
	font-family: Roboto, "Helvetica Neue", sans-serif;

}

.contact {
	font-size: 18px;
	width: 100%;
}

p {

	padding: 10px;
}

.person_inner_button {
	background-color: green;
	width: 20px;
	padding-top: 5px;
	border-radius: 5px;
}

mat-slide-toggle {
	font-weight: 500;
	color: green;
	font-size: 18px;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
	background-color: yellowgreen;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
	background-color: green;
}

.report {

	background: url('./../../assets/svg/flag-fill.svg');
	background-position: center;
	width: 35px;
	height: 35px;

	background-repeat: no-repeat;
	background-size: 70%;
	border: none;
	margin-right: 10px;
	background-color: green;
	border-radius: 7px;
	transition: 0.3s;


}

.report:hover {
	background-color: black;
	cursor: pointer;
}